{% extends "_base.html" %} 
{% load static %}
{% load socialaccount %}
{% block title %}Home{% endblock title %} 
{% block content %}
<h1>Homepage</h1>
<a href="{% url 'collab_app:question-list' %}">Ask Question Here</a><br>
<a href="{% url 'formset_app:inline' 1 %}">Inline Formset Factory</a><br>
<a href="{% url 'formset_app:model' %}">Model Formset Factory</a><br>
<a href="{% url 'formset_app:normal' %}">Formset Factory</a><br>
<a href="{% url 'formset_app:model_with_authors' %}">ModelFormsetFactoryWithAuthor</a><br>

<img class="collabimage" src="{% static 'images/collab.jpg' %}" ><br>
{% if user.is_authenticated %}
  Hi {{ user.email }}
  <p><a href="{% url 'account_logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <!--Github-->
  <a href="{% provider_login_url 'github' %}" ><p class="git">Github</p></a>
  <a href="{% url 'account_login' %}">Login</a>
  <a href="{% url 'account_signup' %}">Sign Up</a>
{% endif %}
{% endblock content %}
